.banner-img {
  /* width: 95%; */
  max-height: 890px;
  /* margin-left: 5%; */
  padding-left: 82px;
}
.banner-text {
  position: absolute;
  top: 0px;
  left: 11%;
  height: 100%;
  display: flex;
}
.scroll {
  position: absolute;
  left: 0px;
  bottom: 134px;
  font-family: Montserrat;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 20px;
}
.scroll::before {
  content: "";
  border: 1px solid #252525;
  top: 0.7em;
  position: absolute;
  left: 3em;
  width: 41px;
}
.padding {
  padding-right: 0px;
  overflow: hidden !important;
}
.banner-title {
  font-size: 72px !important;
  line-height: 48px;
  color: #212121;
  font-family: "Avenir-Black";
  width: max-content;
}
.banner-subtitle {
  font-size: 18px;
  height: 65px;
  width: 552px;
  margin-top: 25px;
  margin-bottom: 51px;
  font-family: "Avenir-Book";
}
.banner-subtitle2 {
  font-size: 18px;
  line-height: 48px;
  color: #000000;
  font-family: "Avenir-Medium";
}

.logo {
  width: 151px;
  height: 44px;
}
.logo-div {
  padding: 35px 3px;
}
img.del.logo {
  margin-left: 195px;
}
img.bbc.logo {
  margin-left: 190px;
}
img.nos.logo {
  margin-left: 118px;
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .banner {
    height: 30em;
  }
  .banner-text {
    left: 11%;
  }
  .banner-title {
    font-size: 60px !important;
  }
  .banner-subtitle {
    font-size: 18px !important;
    height: 110px;
    margin-bottom: 10px;
  }
  .banner-subtitle2 {
    font-size: 18px;
  }
  .scroll {
    left: 0px;
    bottom: 120px;
  }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .banner {
    height: 30em;
  }
  .banner-text {
    left: 11%;
  }
  .banner-title {
    font-size: 55px !important;
  }
  .banner-subtitle {
    font-size: 16px !important;
    height: 100px;
    margin-bottom: 0px !important;
    width: 490px;
  }
  .banner-subtitle2 {
    font-size: 16px;
  }
  .scroll {
    left: 0px;
    bottom: 120px;
  }
  /*  .logo {
    width: 91px;
    height: 28px;
} */
  img.del.logo,
  img.bbc.logo,
  img.nos.logo {
    margin-left: 0px;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    height: 24em;
  }
  .banner-text {
    left: 100px;
  }
  .banner-title {
    font-size: 36px !important;
  }
  .banner-subtitle {
    font-size: 15px !important;
    height: 120px;
    width: 375px;
    margin-bottom: 0px;
  }
  .banner-subtitle2 {
    font-size: 15px;
  }
  .scroll {
    left: 0px;
    bottom: 90px;
  }
  .logo {
    width: 91px;
    height: 28px;
  }
  img.del.logo,
  img.bbc.logo,
  img.nos.logo {
    margin-left: 0px;
  }
  .banner-title {
    font-size: 42px !important;
  }
}
/* medium screen */
@media screen and (min-width: 641px) and (max-width: 768px) {
  .banner {
    height: 21em;
  }
  .banner-text {
    top: 0px;
    left: 14%;
  }
  .scroll {
    left: 0px;
    bottom: 80px;
    font-size: 15px;
  }
  .logo {
    width: 91px;
    height: 28px;
  }
  img.del.logo,
  img.bbc.logo,
  img.nos.logo {
    margin-left: 0px;
  }
  .banner-subtitle {
    font-size: 18px;
    height: 65px;
    width: 552px;
    margin-top: 25px;
    margin-bottom: 51px;
    font-family: "Avenir-Book";
  }
  .banner-title {
    font-size: 42px !important;
  }
}
/* extra samll  */
@media screen and (min-width: 401px) and (max-width: 640px) {
  .banner-text{
    left: 7%;
  }
  .banner-title, .extrasmall {
    margin-bottom: 0px;
  }
  .scroll {
    visibility: hidden;
  }
  .banner-img {
    margin-left: 0px;
    padding-left: 0px;
  }
  .padding {
    padding-right: 0px;
    padding-left: 0px;
  }
  .btn-sm {
    width: 115px !important;
    height: 26px;
    font-size: 10px;
    line-height: 0px;
  }
  .logo {
    width: 88px;
    height: 18px;
    margin-bottom: 10px;
  }
  .logo-div {
    padding: 20px 0px;
  }

  img.del.logo,
  img.bbc.logo,
  img.nos.logo {
    margin-left: 0px;
  }
  .banner-subtitle {
    font-size: 12px;
    height: 55px;
    width: 285px;
    margin-top: 25px;
    margin-bottom: 51px;
    font-family: "Avenir-Book";
    text-align: justify;
  }
  .my-auto{
    margin-left: 25px;
  }
  .banner-title {
    font-size: 42px !important;
  }
  .banner-subtitle2 {
    font-size: 15px;
  }
}
// extra extra small
@media screen and (min-width: 351px) and (max-width: 400px){
  .banner-text{
    left: 7%;
  }
  .banner-title, .extrasmall {
    margin-bottom: 0px;
  }
  .scroll {
    visibility: hidden;
  }
  .banner-img {
    margin-left: 0px;
    padding-left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .padding {
    padding-right: 0px;
    padding-left: 0px;
  }
  .btn-sm {
    width: 115px !important;
    height: 26px;
    font-size: 10px;
    line-height: 0px;
  }
  .logo {
    width: 65px;
    height: 18px;
    margin-bottom: 10px;
  }
  .logo-div {
    padding: 20px 0px;
  }

  img.del.logo,
  img.bbc.logo,
  img.nos.logo {
    margin-left: 0px;
  }
  .banner-subtitle{
    font-size: 12px;
  }
  .banner-subtitle {
    font-size: 12px;
    height: 55px;
    width: 265px;
    margin-top: 25px;
    margin-bottom: 51px;
    font-family: "Avenir-Book";
    text-align: justify;
  }
  .my-auto{
    margin-left: 15px;
  }
  .banner-title {
    font-size: 34px !important;
  }
  .banner-subtitle2 {
    font-size: 14px;
  }
  
}
@media screen and (max-width: 350px){
  .banner-text{
    left: 7%;
  }
  .banner-title, .extrasmall {
    margin-bottom: 0px;
  }
  .scroll {
    visibility: hidden;
  }
  .banner-img {
    margin-left: 0px;
    padding-left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .padding {
    padding-right: 0px;
    padding-left: 0px;
  }
  .btn-sm {
    width: 115px !important;
    height: 26px;
    font-size: 10px;
    line-height: 0px;
  }
  .logo {
    width: 65px;
    height: 18px;
    margin-bottom: 10px;
  }
  .logo-div {
    padding: 20px 0px;
  }

  img.del.logo,
  img.bbc.logo,
  img.nos.logo {
    margin-left: 0px;
  }
  .banner-subtitle{
    font-size: 12px;
  }
  .banner-subtitle {
    font-size: 12px;
    height: 55px;
    width: 235px;
    margin-top: 25px;
    margin-bottom: 51px;
    font-family: "Avenir-Book";
    text-align: justify;
  }
  .my-auto{
    margin-left: 10px;
  }
  .banner-title {
    font-size: 34px !important;
  }
  .banner-subtitle2 {
    font-size: 13px;
  }
}






