f.product-page {
  margin-top: 54px;
}
.title {
  font-size: 72px;
  color: #212121;
  font-family: "Avenir-Black";
}
.blog-title {
  font-size: 72px;
  color: #212121;
  font-family: "Avenir-Black";
}
p.subtitle, p.blog-subtitle {
  width: 552px;
  font-size: 18px;
  margin-top: 53px;
  color: #6c6d6f;
  font-family: "Avenir-Book";
}
.custon-margin-subtitle {
  margin-left: 0px !important;
}

.subtitle-2 {
  font-size: 18px;
  line-height: 48px;
  color: #000000;
  font-family: "Roboto";
  font-family: "Avenir-Book";
  text-align: end;
}

.margin-third {
  margin-top: 34px;
  margin-bottom: 58px;
}

.margin-five {
  margin-top: 90px;
  margin-bottom: 87px;
}

.rever-side {
  width: 100%;
  max-height: 716px;
}

.blog-two-img {
  width: 100%;
  padding-top: 35px;
  max-height: 680px !important;
  padding-bottom: 46px;
}
.img-six-position {
  margin-top: 17px;
  max-height: 716px !important;
}

/*  blogList components  */

.blog-list-section {
  border: 1px solid #959595;
}

.blog-list-title {
  font-size: 60px;
  color: #000000;
  margin-bottom: 50px;
  font-family: Avenir black;
}
.blog-list-subtitle {
  font-size: 18px;
  margin-bottom: 65px;
  font-family: "Avenir-Book";
}
.blog-list-subtext {
  font-size: 18px;
  color: #000000;
  font-family: "Roboto";
  margin-left: 150px;
}

.right-text-part {
  margin-top: 94px;
  margin-left: 50px;
}
.blog-list-section {
  height: 545px;
}
img.blog-img {
  max-height: 547px !important;
}
a.blog-list-menu-link.router-link-active {
  color: #2f2f2f !important;
  text-align: center;
  padding: 0px 46px;
  font-family: "Avenir Medium";
  font-size: 24px;
}

.blog-list-menu {
  border-bottom: 0.5px solid #ebebeb;
  height: 103px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* blog details */
img.single-image {
  max-height: 695px !important;
}

h1.blog-title.text-center {
  font-size: 72px;
  padding: 25px 0px;
  color: #212121;
}

p.blog-text {
  font-size: 20px;
  color: darkslategrey;
  text-align: justify;
  font-family: Avenir Medium;
}

p.blog-text-title {
  font-size: 30px;
}

.blog-text-title {
  font-size: 16px;
  font-family: Avenir Heavy;
}

.go-back {
  font-size: 12px;
  position: absolute;
  z-index: 9999;
  top: -7%;
  left: 0%;
}

@media screen and (min-width: 1801px) { 
  .blog-img-container{
    height: 100%;
  }
  .third-section-text{
    padding-left: 150px;
    padding-top: 100px;
  }
  .five-section-text{
    padding-left: 120px;
    padding-top: 40px;
  }
  .footer-menu{
    margin-top: 40px;
  }
}

@media screen and (max-width: 1800px) {
  h1.blog-title.text-center {
    font-size: 60px !important;
    padding: 25px 0px;
  }
  .blog-img-container{
    height: 100%;
  }

  .scroll-text {
    font-size: 30px;
  }
  .blog-list-title {
    font-size: 48px;
  }
  .blog-list-subtext {
    font-size: 18px;
  }
  a.blog-list-menu-link.router-link-active {
    font-size: 22px;
  }
  .third-section-text{
    padding-left: 150px;
    padding-top: 100px;
  }
  .five-section-text{
    padding-left: 120px;
    padding-top: 40px;
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1500px) {
  .title {
    font-size: 60px;
  }
  .blog-img-container{
    height: 100%;
  }

  p.subtitle, p.blog-subtitle {
    width: auto;
    font-size: 16px;
    margin-top: 10px;
  }
  .custon-margin-subtitle {
    margin-left: 15px !important;
  }
  .subtitle-2,
  p.blog-list-subtext {
    font-size: 16px;
  }

  h1.blog-title.text-center {
    font-size: 50px;
    padding: 25px 0px;
  }

  p.blog-text,
  p.blog-text-title {
    font-size: 22px;
  }

  .scroll-text {
    font-size: 28px;
  }
  .blog-list-section {
    height: 380px;
  }
  /*   blog list  */
  a.blog-list-menu-link.router-link-active {
    padding: 10px 20px;
    font-size: 20px;
  }
  .blog-list-subtitle {
    font-size: 16px;
  }
  .blog-list-subtext {
    font-size: 18px;
  }
  .blog-list-title {
    font-size: 30px;
  }
  .third-section-text{
    padding-left: 60px;
    padding-top: 70px;
  }
  .five-section-text{
    padding-left: 90px;
    padding-top: 30px;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 1200px) {
  .title {
    font-size: 50px;
  }
  .blog-img-container{
    height: 100%;
  }
  h1.blog-title.text-center {
    font-size: 42px;
    padding: 25px 0px;
  }

  p.blog-text,
  p.blog-text-title {
    font-size: 20px;
  }

  p.subtitle, p.blog-subtitle {
    width: auto;
    font-size: 14px;
    margin-top: 10px;
  }
  .custon-margin-subtitle {
    margin-left: 10px !important;
  }
  .subtitle-2,
  p.blog-list-subtext {
    font-size: 14px;
  }

  .scroll-text {
    bottom: 123px;
    left: -83px;
    font-size: 24px;
  }
  .blog-two-img {
    padding-top: 18px !important;
    padding-bottom: 26px !important;
  }
  a.blog-list-menu-link.router-link-active {
    padding: 10px 10px;
    font-size: 18px;
  }
  .blog-list-title {
    font-size: 30px;
  }
  .blog-list-subtitle {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .right-text-part {
    margin-top: 31px;
    margin-left: 20px;
  }
  .blog-list-section {
    height: 350px;
  }
  .third-section-text{
    padding-left: 40px;
    padding-top: 30px;
  }
  .five-section-text{
    padding-left: 40px;
    padding-top: 30px;
  }
  
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width: 991px) {
  .title {
    font-size: 28px;
  }
  .blog-img-container{
    height: 100%;
  }

  p.subtitle, p.blog-subtitle {
    width: auto;
    font-size: 18px;
    margin-top: 10px;
  }
  .custon-margin-subtitle {
    margin-left: 0px !important;
  }
  p.subtitle, p.blog-subtitle-2,
  p.blog-list-subtext {
    font-size: 12px;
  }

  h1.blog-title {
    font-size: 36px !important;
    padding: 22px 0px;
  }

  p.blog-text,
  p.blog-text-title {
    font-size: 18px;
  }

  .image-section.position-relative {
    text-align: end !important;
  }

  img.single-image {
    width: 90%;
    /* margin-left: 20%; */
  }

  .scroll-text {
    position: absolute;
    bottom: 67px;
    left: 0px;
    font-family: Montserrat;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 22px;
  }
  .blog-two-img {
    padding-top: 14px;
    padding-bottom: 20px;
  }

  /*  blog list  */
  .blog-list-menu {
    padding: 15px 0px;
  }
  a.blog-list-menu-link.router-link-active {
    padding: 6px 5px;
    font-size: 17px;
  }
  .blog-list-title {
    font-size: 28px;
    text-align: center;
  }
  .blog-list-subtitle {
    font-size: 16px;
    text-align: justify;
  }
  .blog-list-section {
    height: 320px;
  }
  .right-text-part {
    margin-top: 25px;
    margin-left: 0px;
    padding: 5px;
  }
  .blog-list-subtitle {
    margin-bottom: 30px;
  }
  .third-section-text{
    padding-left: 20px;
    padding-top: 0px;
  }
  .five-section-text{
    padding-left: 20px;
    padding-top: 0px;
  }
  .blog-title{
    font-size: 42px;
  }
  .blog-subtitle{
    font-size: 16px !important;
  }
}

/* medium phone  */
@media screen and (max-width: 768px) {
  .blog-list-section {
    height: unset;
  }
  .blog-list-title{
    text-align: left !important;
    margin-top: 25px;
    font-size: 20px;
  }
  .blog-list-subtitle{
    margin-bottom: 0 !important;
    margin-top: 15px;
    font-size: 11px;
  }
  .title {
    font-size: 36px;
    text-align: center;
  }

  p.subtitle, p.blog-subtitle {
    width: auto;
  }
  .subtitle-2,
  p.blog-list-subtext,
  p.blog-text,
  p.blog-text-title {
    font-size: 14px;
  }

  h1.blog-title {
    font-size: 32px !important;
    padding: 22px 0px;
  }

  img.single-image {
    width: 90%;
    float: right;
  }

  .scroll-text {
    position: absolute;
    left: 20px;
    font-family: Montserrat;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 18px;
    top: 241px;
  }
  .blog-img-container{
    height: 168px !important;
  }
  img.blog-img {
    height: 100%;
    object-fit: cover !important;
  }
  .margin-five {
    margin-top: 60px;
  }
  .blog-two-img {
    padding-top: 0px;
  }

  /*  blog list  */
  .blog-list-menu {
    padding: 15px 0px;
    text-align: center;
  }
  a.blog-list-menu-link.router-link-active {
    padding: 6px 5px;
    font-size: 14px;
  }
  .right-text-part {
    margin-top: 15px;
    margin-left: 0px;
    padding: 5px;
  }
  .blog-list-subtitle {
    margin-bottom: 25px;
  }
  .blog-title {
    font-size: 42px;
    color: #212121;
    font-family: "Avenir-Black";
  }
  .blog-image-right{
    max-width: 67% ;
    display: block;
    margin-left: auto;
  }
  .blog-image-left{
    max-width: 67% ;
  }
  p.subtitle, p.blog-subtitle {
    width: auto;
    font-size: 12px;
    margin-top: 10px;
  }
  .five-section-text{
    width: 350px;
    margin-left: auto;
  }
  .blog-two-img {
    padding-top: 14px;
    padding-bottom: 20px;
  }
  .blog-margin{
    height: 520px;
    margin-right: 3rem;
  }
  .blog-margin-left{
    margin-left: 3rem;
  }
  .blog-negative-margin{
    margin-top: -15%;
    background-color: transparent !important;
  }
  .subtitle-2{
    margin-top: -25px;
  }
  .blog-two-margin{
    margin-top: -15%;
    position: relative;
    z-index: 5;
  }
  .margin-five{
    margin-bottom: 0;
  }

  .third-section-text{
    width: 90% !important;
  }
}

/* Small devices */
@media screen and (max-width: 640px) {
  .blog-image-right{
    max-width: 67% ;
    display: block;
    margin-left: auto;
  }
  .blog-image-left{
    max-width: 67% ;
  }
  p.subtitle, p.blog-subtitle {
    width: auto;
    font-size: 12px;
    margin-top: 10px;
  }
  .five-section-text{
    width: 350px;
    margin-left: 15px;
  }
  .blog-two-img {
    padding-top: 14px;
    padding-bottom: 20px;
  }
  .subtitle-2{
    font-size: 12px;
  }
  .blog-two-margin{
    position: relative;
    z-index: 5;
  }
  .blog-three-bottom{
    margin-bottom: 16px;
  }
  .title {
    font-size: 36px;
    text-align: center;
  }

  p.subtitle, p.blog-subtitle,
  .subtitle-2,
  p.blog-list-subtext,
  p.blog-text,
  p.blog-text-title {
    font-size: 14px;
  }
  .custon-margin-subtitle {
    margin-left: 0px !important;
  }

  .margin-five {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .blog-two-img {
    padding-top: 12px;
    padding-bottom: 25px;
  }
  .blog-list-subtext {
    margin-left: 15px;
  }

  /*  blog list */
  .blog-list-menu {
    padding: 15px 0px;
    text-align: center;
  }
  .right-text-part {
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
  }
  a.blog-list-menu-link.router-link-active {
    padding: 6px 5px;
    font-size: 12px;
  }

  /* blog detail */
  h1.blog-title.text-center {
    font-size: 18px;
    padding: 14px 0px;
  }

  img.single-image {
    width: 90%;
    /* margin-left: 20%; */
  }

  .text-pull-right {
    text-align: right;
  }
  p.scroll.single-blog-scroll {
    position: absolute;
    left: 10px;
    bottom: 228px;
  }
  .blog-title {
    font-size: 32px;
    color: #212121;
    font-family: "Avenir-Black";
  }
  
}

@media screen and (max-width: 550px){
  .blog-margin{
    height: 510px !important;
  }
  a.blog-list-menu-link.router-link-active {
    padding: 5px 4px;
    font-size: 11px;
  }
}

@media screen and (max-width: 465px){
  .blog-margin{
    height: 390px !important;
  }
  p.subtitle, p.blog-subtitle {
    width: 320px !important;
    font-size: 11px !important;
    margin-top: 10px;
  }
  p.blog-subtitle{
    width: 100% !important;
  }
  p.subtitle{
    width: unset !important;
  }
  .blog-title{
    font-size: 28px;
  }
  a.blog-list-menu-link.router-link-active {
    padding: 5px 4px;
    font-size: 10px;
  }
  .blog-list-title{
    text-align: left !important;
    margin-top: 25px;
    font-size: 18px;
  }
}


@media screen and (max-width: 375px) {
  .blog-margin{
    height: 365px !important;
    margin-right: 1rem;
  }
  .blog-margin-left{
    margin-left: 1rem;
  }
  p.subtitle, p.blog-subtitle {
    width: unset !important;
    font-size: 10px !important;
    margin-top: 10px;
  }
  p.blog-subtitle{
    width: 100% !important;
  }
  .blog-title{
    font-size: 24px;
  }
  .subtitle-2{
    font-size: 9px;
  }
  a.blog-list-menu-link.router-link-active {
    padding: 5px 3px;
    font-size: 9px;
  }
  .blog-list-title{
    text-align: left !important;
    margin-top: 25px;
    font-size: 16px;
  }
  .blog-list-subtitle{
    font-size: 10px;
  }
}

// @media screen and (min-width: 250px) and (max-width: 640px){
//   .blog-two-margin{
//     margin-top: -47px;
//   }
//   .blog-negative-margin{
//     margin-top: -100px;
//   }
// }