.title {
    font-size: 72px;
    color: #212121;
    font-family: avenir Black;
}
p.subtitle {
    width: 552px;
    font-size: 18px;
    margin-top: 53px;
    color: #6c6d6f;

}
.custon-margin-subtitle{
    margin-left: 40px!important;
}

.subtitle-2{
    font-size: 18px;
line-height: 48px;
color: #000000;
font-family: "Roboto";
font-family: Roboto;
text-align: end;
}
p.blog-list-subtext {
    font-size: 24px;
}

.margin-third {
    margin-top: 34px;
    margin-bottom: 58px;
}

.margin-five {
    margin-top: 90px;
    margin-bottom: 87px;
}

.rever-side {
    width: 100%;
    max-height: 716px;
}


.blog-two-img {
    width: 100%;
    padding-top: 35px;
    max-height: 680px !important;
    padding-bottom: 46px;
}
.img-six-position {
    margin-top: 17px;
    max-height: 716px !important;
}

/*  blogList components  */

.blog-list-section {
    border: 1px solid #959595;
}

h1.blog-list-title {
    font-size: 80px;
    color: #000000;
}

p.blog-list-text {
    font-size: 12px;
}

p.blog-list-subtext {
    margin-left: 14%;
}

img.blog-img {
    max-height: 547px !important;
}

/* blog details */
img.single-image {
    max-height: 695px !important;
}

h1.blog-title.text-center {
    font-size: 72px;
    padding: 25px 0px;
}

p.blog-text {
    font-size: 24px;
    text-align: justify;
    font-family: Avenir Roman;
}

p.blog-text-title {
    font-size: 30px;
}

.scroll-text {
    position: absolute;
    bottom: 150px;
    left: -112px;
    font-family: Montserrat;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 36px;
}

.scroll-text::before {
    content: "";
    border: 1px solid #252525;
    top: 0.7em;
    position: absolute;
    left: 4em;
    width: 33px;
}

.blog-text-title {
    font-size: 16px;
    font-family: Avenir Heavy;
}

.go-back {
    font-size: 12px;
    position: absolute;
    z-index: 9999;
    top: -7%;

    left: 0%;
}

a.blog-list-menu-link.router-link-active {
    color: black;
    padding: 10px 50px;
    text-align: center;
    margin-right: 2px;
    font-family: avenir Heavy;
    font-size: 16px;
}

.blog-list-menu.text-center {
    padding: 15px 0px;
}

/* Small devices */
@media screen and (max-width: 640px) {
    .w-75 {
        width: 100% !important;
    }

    .title {
        font-size: 36px;
        text-align: center;
    }

    p.subtitle,
    .subtitle-2,
    p.blog-list-subtext,
    p.blog-text,
    p.blog-text-title {
        font-size: 14px;
      
    }
    p.subtitle {
         width: auto!important;
         margin-top: 0px;
    }
    .custon-margin-subtitle {
        margin-left: 0px !important; 
    }

    .pl {
        padding-left: 0px !important;
    }

    .pr {
        padding-right: 0px !important;
    }

    .margin-five {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .blog-two-img {
        padding-top: 12px;
        padding-bottom: 25px;
    }

    /*  blog list */
    h1.blog-list-title {
        font-size: 24px;
    }

    img.blog-img {
        height: 250px;
        object-fit: contain;
    }

    /* blog detail */
    h1.blog-title.text-center {
        font-size: 18px;
        padding: 14px 0px;
    }

    img.single-image {
        width: 90%;
        /* margin-left: 20%; */
    }

    .text-pull-right {
        text-align: right;
    }

    .scroll-text {
        position: absolute;
        bottom: 52px;
        left: 0px;
        font-family: Montserrat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 12px;
    }

    a.blog-list-menu-link.router-link-active {
        color: black;
        padding: 10px 10px;
        text-align: center;
        margin-right: 2px;
        font-family: avenir Heavy;
        font-size: 12px;
    }
}

/* medium phone  */
@media screen and (min-width: 641px) and (max-width: 768px) {
    .title {
        font-size: 36px;
        text-align: center;
    }

    p.subtitle{
        width:auto;
    }
    .subtitle-2,
    p.blog-list-subtext,
    p.blog-text,
    p.blog-text-title {
        font-size: 14px;
    }

    h1.blog-title {
        font-size: 32px !important;
        padding: 22px 0px;
        
    }

    img.single-image {
        width: 90%;
        float: right;
    }

    .scroll-text {
        position: absolute;
        left: 20px;
        font-family: Montserrat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 18px;
        top: 241px;
    }

    img.blog-img {
        height: 300px;
        object-fit: contain;
    }

    a.blog-list-menu-link.router-link-active {
        padding: 10px 10px;
    }
    .margin-five {
        margin-top: 60px;
    }
    .blog-two-img {
     
         padding-top: 0px;
        }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .title {
        font-size: 28px;
    }

    p.subtitle {
         width: auto; 
        font-size: 12px;
        margin-top: 10px;
       
    }
    .custon-margin-subtitle {
        margin-left: 0px !important; 
    }
    p.subtitle-2,
    p.blog-list-subtext {
        font-size: 12px;
    }

    h1.blog-title {
        font-size: 36px !important;
        padding: 22px 0px;
       
    }

    p.blog-text,
    p.blog-text-title {
        font-size: 18px;
    }

    .image-section.position-relative {
        text-align: end !important;
    }

    img.single-image {
        width: 90%;
        /* margin-left: 20%; */
    }

    .scroll-text {
        position: absolute;
        bottom: 67px;
        left: 0px;
        font-family: Montserrat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 22px;
    }

    a.blog-list-menu-link.router-link-active {
        padding: 10px 6px;
    }
    .blog-two-img {
        padding-top: 14px;
        padding-bottom: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .title {
        font-size: 50px;
    }

    h1.blog-title.text-center {
        font-size: 42px;
        padding: 25px 0px;
       
    }

    p.blog-text,
    p.blog-text-title {
        font-size: 20px;
       
    }

    p.subtitle {
        width: auto; 
       font-size: 14px;
       margin-top: 10px;
      
   }
   .custon-margin-subtitle {
       margin-left: 10px !important; 
   }
    .subtitle-2,
    p.blog-list-subtext {
        font-size: 14px;
    }

    a.blog-list-menu-link.router-link-active {
        padding: 10px 20px;
    }

    .scroll-text {
        bottom: 123px;
        left: -83px;
        font-size: 24px;
    }
    .blog-two-img {
        padding-top: 18px!important;
        padding-bottom: 26px!important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .title {
        font-size: 60px;
    }

    p.subtitle {
        width: auto; 
       font-size: 16px;
       margin-top: 10px;
      
   }
   .custon-margin-subtitle {
       margin-left: 15px !important; 
   }
    .subtitle-2,
    p.blog-list-subtext {
        font-size: 16px;
    }

    a.blog-list-menu-link.router-link-active {
        padding: 10px 30px;
    }

    h1.blog-title.text-center {
        font-size: 50px;
        padding: 25px 0px;
       
    }

    p.blog-text,
    p.blog-text-title {
        font-size: 22px;
       ;
    }

    .scroll-text {
        font-size: 28px;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1800px) {
    h1.blog-title.text-center {
        font-size: 60px !important;
        padding: 25px 0px;
      
    }

    .scroll-text {
        font-size: 30px;
    }
}