.title {
    font-size: 45px;
   
}
p.subtitle,
.subtitle-2 {
    font-size: 12px;
}
p.subtitle-2 {
    font-family: Roboto;
    text-align: end;
}
.margin-third {
    margin-top: 34px;
    margin-bottom: 58px;
}

.margin-five {
    margin-top: 90px;
    margin-bottom: 87px;
}
.rever-side {
    width: 100%;
    height: 100%;
  } 
.five-one.img.five-position {
    height: 85% !important;
}
.img-six-position{
    margin-top: 17px;
}

/*  blogList components  */ 

.blog-list-section {
    border: 1px solid #959595;
}
h1.blog-list-title {
    font-size: 28px;
    color: #000000;
}
p.blog-list-text {
    font-size: 12px;
}
p.blog-list-subtext {
    font-size: 12px;
    margin-left: 14%;
}
 /* blog details */
 h1.blog-title.text-center {
    font-size: 38px;
    padding: 25px 0px;
}
p.blog-text {
    font-size: 12px;
    text-align: justify;
}
.scroll-text {
    position: absolute;
    bottom: 150px;
    left: -112px;
    font-family: Montserrat;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 16px;
}
.scroll-text::before {
    content: "";
    border: 1px solid #252525;
    top: 0.7em;
    position: absolute;
    left: 4em;
    width: 33px;
  }

  .blog-text-title {
    font-size: 16px;
    font-family: Avenir Heavy;
}
.go-back {
    font-size: 12px;
    position: absolute;
    z-index: 9999;
    top: -7%;
   
    left: 0%;
}
a.blog-list-menu-link.router-link-active {
    color: black;
    padding: 10px 10px;
    text-align: center;
    margin-right: 2px;
    font-family: avenir Heavy;
    font-size: 16px;
}
.blog-list-menu.text-center {
    padding: 15px 0px;
}
/* Small devices */
@media screen and (max-width: 640px) {
    .w-75 {
        width: 100% !important;
    }
    .title {
        font-size: 25px;
        text-align: center;
    }
    .pl {
        padding-left: 0px!important;
    }
    .pr {
        padding-right: 0px!important;
    }
    .margin-five {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    /*  blog list */
    h1.blog-list-title {
        font-size: 24px;
    }
    img.blog-img {
        height: 300px;
    }
    /* blog detail */
    h1.blog-title.text-center {
        font-size: 18px;
        padding: 14px 0px;
    }
    img.single-image {
        width: 90%;
        /* margin-left: 20%; */
    }
    .text-pull-right{
        text-align: right;
    }
    .scroll-text {
        position: absolute;
        bottom: 52px;
         left: 0px; 
        font-family: Montserrat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 12px;
    }
    
    a.blog-list-menu-link.router-link-active {
        color: black;
        padding: 10px 10px;
        text-align: center;
        margin-right: 2px;
        font-family: avenir Heavy;
        font-size: 12px;
    }
    
   
    
}
/* medium phone  */
@media screen and (min-width: 641px) and (max-width: 768px) {
    .title {
        font-size: 20px;
        text-align: center;
    }
    h1.blog-title.text-center {
        font-size: 22px;
        padding: 22px 0px;
    }
    .scroll-text {
        position: absolute;
        bottom: 48px;
        left: -59px;
        font-family: Montserrat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 12px;
    }
    
    img.blog-img {
        height: 300px;
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .title {
        font-size: 18px;
    }
    p.subtitle,
    .subtitle-2 {
        font-size: 10px;
    }
    h1.blog-title.text-center {
        font-size: 30px;
        
    }
    .scroll-text {
        position: absolute;
        bottom: 67px;
        left: -40px;
        font-family: Montserrat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 12px;
    }
   
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1300px) {
    /* default style */
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) {
    .max-height-716 {
        max-height: 716px;
    }
    .max-height-img-six {
        max-height: 729px;
    }
    img.blog-img {
        max-height: 540px;
    }
}