.custom-padding {
    margin-top: 66px;
    margin-bottom: 100px;
    padding-left: 117px;
    
}

img.cat-one-img {
    width: 100%;
    height: 443px !important;
}
img.cat-two-img {
    width: 100%;
    height: 443px!important;
}
/* .image2,.image3 {
    max-width: 360px;
} */
.image1 {
    margin-right: 6px;
}
.image3 {
    /* margin-left: 0px; */
    margin-right: 100px;
}


.cat-text {
    opacity: 1;
}
.sub-text-1 {
    font-family: Avenir-Black;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
}
.sub-text-2 {
    font-family: Avenir-Medium;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
    
}
.hover-replace {
    height: 50px;
}

.custom-cat-btn {
    opacity:1;
    background-color: #000000;
    display: none;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
    font-family:Avenir-Medium;
    border-radius: 0;
}

.blog-button-cat{
    font-size: 24px;
    line-height: 48px;
    color: #fbfcff;
    width: 375px;
height: 60px;
background-color: #000000;
border: 1px solid #000000;
font-family:Avenir-Black;
}
/* ==================== */
.cat-image-div:hover {
    text-decoration: none;
    transition: 5s;
    .custom-cat-btn {
        opacity: 1!important;
        display: block;
        color:white;
        background-color: black;
    }
    .cat-text {
        opacity: 0;
        display: none;
    }
}
@media screen and (min-width: 1851px){
    .image2 {
        margin-left: 47px;
        margin-right: 56px;
    }
}
@media screen and (min-width:1451px) and (max-width: 1850px) {
    img.cat-one-img {
        width: 100%;
        height: 100% !important;
    }
    img.cat-two-img {
        width: 100%!important;
        height: 100%!important;
    }
    .blog-button-cat {
        font-size: 22px;
        line-height: 42px;
        width: 325px;
        height: 54px;
       
    }
    .image2 {
        margin-left: 47px;
        margin-right: 56px;
    }
   
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1201px) and (max-width: 1450px) {
    img.cat-one-img {
        width: 100%;
        height: 100% !important;
    }
    img.cat-two-img {
        width: 100%!important;
        height: 100%!important;
    }
    .blog-button-cat {
        width: 280px;
        height: 56px;
        font-size: 20px;
    }
    .image2 {
        margin-left: 47px;
        margin-right: 56px;
    }
   
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    img.cat-one-img {
        width: 100%;
        height: 100% !important;
    }
    img.cat-two-img {
        width: 100%!important;
        height: 100%!important;
    }
    .sub-text-1,
    .sub-text-2 {
        font-size: 16px;

    }
    .custom-cat-btn {
        font-size:14px;
    }
    .blog-button-cat {
        width: 245px!important;
        height: 51px!important;
        font-size: 18px!important;
        line-height: 36px!important;
    }
    
    .image2 {
        margin-left: 23px;
        margin-right: 22px;
    }
    .image3 {
        margin-left: 7px;
        margin-right: 37px;
    }
  
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .custom-cat-btn {
        font-size: 10px;
    }
    img.cat-one-img {
        width: 100%;
        height: 100% !important;
    }
    

    img.cat-two-img {
        width: 100%!important;
        height: 100%!important;
    }
    .sub-text-1,
    .sub-text-2 {
        font-size: 15px;

    }
    
    .ask-section {
        padding-top: 23px;
        padding-bottom: 0px;
        margin-top: 30px;
    }
    .blog-button-cat {
        width: 218px!important;
        height: 46px!important;
        font-size: 16px!important;
        line-height: 30px!important;
    }
    .image2 {
        margin-left: 13px!important;
        margin-right: 20px!important;
    }
    .image3 {
        margin-left: 3px!important;
        margin-right: 31px!important;
    }
   

    
}
/* medium phone  */
@media screen and (max-width: 768px) {
    .cat-image-div {
        .text{
            padding-right: 15px;
        }
    }
    .pr {
        padding-right: 0px;
    }

    .pl {
        padding-left: 0px;
    }
    img.cat-one-img {
        width: 100%;
        height: 100% !important;
        padding-right: 15px;
    }
    

    img.cat-two-img {
        width: 89%;
        height: 100% !important;
    }
    .image1 {
        padding-left: 16px;
    }
    .custom-padding {
        margin-top: 46px;
        padding: 0px 0px;
        margin-bottom: 100px;
    }

    .row.mr-custom {
        margin-right: 0px;
    }

    img.logo {
        margin-bottom: 20px;
        width: 130px;
        height: 20px;
    }

    .image {

        text-align: center;
        margin-bottom: 10px;
    }

    // img.cat-two-img {
    //     width: 250px;
    // }
    img.cat-two-img {
        width: 89%;
        height: 100% !important;
    }

    .sub-text-1,
    .sub-text-2 {
        font-size: 15px;

    }


    img.cactus.w-75 {
        width: 60% !important;
    }
    .custom-cat-btn {
        font-size:14px!important;
        height:35px;
    }
    .custom-cat-btn.cat-one-btn {
        width: 100%!important;
    }
    .hover-replace {
        height: 50px;
        /* text-align: center; */
        display: flex;
        justify-content: center;
    }
    
    .blog-button-cat {
        width: 218px!important;
    height: 46px!important;
    font-size: 16px!important;
    line-height: 30px!important;
      
    }
    .image1 {
        margin-right: 0px;
    }
    .image2 {
        max-width: initial;
    }
    .image3 {
        margin-right: 0px!important; 
   }
   .ask-section{
    padding-top: 0px;
    margin-top: 0px;
   }

}
/* Small devices */
@media screen and (max-width: 640px) {
    .custom-padding {
        margin-top: 30px;
        padding: 0px 0px !important;
        margin-bottom: 100px;
    }
    .row.mr-custom {
        margin-right: 0px;
    }
    img.cat-one-img {
        width: 100%;
        height: 100% !important;
        padding-right: 15px;
    }
    

    img.cat-two-img {
        width: 89%;
        height: 100% !important;
    }

    img.logo {
        margin-bottom: 20px;
        width: 130px;
        height: 20px;
    }
    .custom-cat-btn {
        opacity: 0;
        background-color: #000000;
        display: none;
        width: 100%;

    }
    .hover-replace {
        height: 50px !important;
    }

    .image {
        text-align: center;
        margin-bottom: 7px;
    }

    .sub-text-1,
    .sub-text-2 {
        font-size: 13px;

    }
    .ask-section {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
    }

    img.cactus.w-75 {
        width: 60% !important;
    }
    .custom-cat-btn {
        font-size:14px!important;
        height:35px;
    }
    .custom-cat-btn.cat-one-btn {
        width: 100%!important;
    }
    .hover-replace {
        height: 50px;
        /* text-align: center; */
        display: flex;
        justify-content: center;
    }
    .blog-button-cat {
        font-size: 14px;
        line-height: 26px;
        width: 200px;
        height: 44px;
      
    }
    .image2,.image3 {
        max-width: initial;
    }
    .image3 {
         margin-right: 0px!important; 
    }
    .image1 {
        padding-left: 16px;
    }
    .image1 {
        margin-right: 0px;
    }

}
@media screen and (max-width: 400px) {
    .sub-text-1,
    .sub-text-2 {
        font-size: 12px;

    }
    .blog-title{
        font-size: 30px;
    }
}
@media screen and (max-width: 370px) {
    .sub-text-1,
    .sub-text-2 {
        font-size: 11px;

    }
    .blog-title{
        font-size: 30px;
    }
}
@media screen and (max-width: 350px) {
    .sub-text-1,
    .sub-text-2 {
        font-size: 10px;

    }
    .blog-title{
        font-size: 24px;
    }
}