.custom-btn {
  background-color: black;
  width: 375px;
  height: 60px;
  font-size: 24px;
  border: 1px solid #000000;
  // line-height: 48px;
  font-family: Avenir Black;
  color: #fbfcff;
  text-align: center;
}
@media screen and (max-width: 400px){
  .custom-btn {
    width: 220px !important;
    height: 41px !important;
    font-size: 11px !important;
    // line-height: 33px !important;
    font-family: Avenir Heavy;
    border-radius: 0;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .custom-btn {
    width: 259px !important;
    height: 41px !important;
    font-size: 16px !important;
    // line-height: 33px !important;
    font-family: Avenir Heavy;
    border-radius: 0;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  .custom-btn {
    width: 218px !important;
    height: 46px !important;
    font-size: 16px !important;
    // line-height: 40px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .custom-btn {
    width: 245px !important;
    height: 51px !important;
    font-size: 18px !important;
    // line-height: 46px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .custom-btn {
    width: 280px;
    height: 56px;
    font-size: 20px;
  }
}