.product-page {
    margin-top: 54px;
}
.product-img{
    width: 100%;
}
img.product-img.top-img {
    max-height: 655px;
}
img.product-img.bottom-img {
    max-height: 490px;
}

.is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 102px;
    
  }
.card-section {
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

.card-text {
    font-size: 18px;
    font-family: Avenir-Heavy;
    color: #000000;
}

.card-subtext{
    font-size: 14px;
    color: #2f2f2f;
    font-family: Avenir-Medium;
}
.card-subtitle {
    font-size: 12px;
    color: #6c6d6f;
    font-family: Avenir-Book;
}

button.app-btn {
    border: none;
    background-color: #111111;
    color: #ffffff;
    font-size: 14px;
    font-family: Avenir-Heavy;
    width: 470px;
    height: 47px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 4px 0px;
    background-color: transparent;
    border: transparent !important;
    font-size: 10px;
    color: #6c6d6f;
    font-family: Avenir-Book;
}
.card-title {
    margin-bottom: 0px;
    font-size: 18px;
    color: #000000;
    font-family:Avenir-Heavy;
}
.card-subtitle2 {
    font-size: 16px;
}

.product-bottom-section{
    padding: 39px 0px;
    margin-bottom: 60px;
}

  .fourth-section-img {
    width: 100%;
    max-height: 1104px;
  }
@media screen and (min-width: 1451px) and (max-width: 1850px) {
    button.app-btn {
       
        width: 380px;
        height: 40px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1450px) {
    .product-img {
        max-height: 653px!important;
    }
    .card-subtext, .card-subtitle {
        font-size: 14px;
        
    }
    .list-group-item {
        font-size: 14px;
    } 
    button.app-btn {
        width: 340px;
        height: 40px;
    }
    

}


/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 1200px) {
   
    .card-subtext, .card-subtitle {
        font-size: 14px;
       
    }
    .list-group-item {
        font-size: 14px;
    }
    button.app-btn {
       
        width: 340px;
        height: 40px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width: 991px) {
   
    .card-subtext, .card-subtitle {
        font-size: 16px;
        
    }
    .list-group-item {
        font-size: 16px;
    }
    button.app-btn {
        font-size: 14px;
        width: 240px;
        height: 40px;
    }
}



/* medium phone  */
@media screen and (max-width: 768px) {
    .product-page{
        margin-top: 0;
    }
    .scroll {
        font-size:20px;
        left:0px!important;
       
    }
    .text_sm_center{
        text-align:center;
    }
    .product-img {
        // width: 378px;
    }
    .text-sm-center {
        text-align: center;
        margin-bottom: 10px;
    }
    .card-subtext, .card-subtitle {
        font-size: 14px;
       
    }
    .list-group-item {
        font-size: 14px;
    }
    button.app-btn {
        width: 400px;
        height: 41px;
    }
}

@media screen and (max-width: 640px) {
    .scroll {
        font-size:20px;
        left:0px!important;
       
    }
    .text_sm_center{
        text-align:center;

    }
    .product-img {
        // width: 250px;
    }
    .mb-sm-5{
        margin-bottom: 10px;
    }
    .card-subtext, .card-subtitle {
        font-size: 16px;
       
    }
    .list-group-item {
        font-size: 16px;
    }
    button.app-btn {
        border: none;
        background-color: #111111;
        color: #ffffff;
        font-size: 12px;
        font-family: Avenir-Heavy;
        width: 250px;
        height: 40px;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
}